.footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-dark ul a {
    
    text-decoration:none;
    
  }
  
  .footer-dark ul a:hover {
    opacity:0.8;
    text-decoration: underline;
  }
.footer-dark{
  padding-bottom: 150px;
}