.container-fluid{
  height: 100%;
}
a#nav-link\ 1 {
  color: white;
  position: relative;
  left: 400px;
  top: auto;
}
a#nav-link\ 2 {
  color: white;
  position: relative;
  left: 450px;
  top: auto;
}
a#nav-link\ 3 {
  color: white;
  position: relative;
  left: 930px;
  top: auto;
}
.navbar navbar-expand-lg navbar-light bg-dark
{
  position: fixed;
}
